.white-bar {
    background-color: white;
    opacity: 0.5;
    height: 67px;
    text-align: center;

}
.jumbotron {
    height: 200px;
    background-image: url(../img/pizza.png);
    background-size: cover;
}
i {
    padding-bottom: 0;
}
.hover:hover {
    box-sizing: border-box;
    border-bottom: 2px solid darkgrey;
}
.zip {
    margin-top: 5px;
}
.sign {
    float: right;
}
.material-icons {
    position:relative;
    top:5px;
}
main {
    width: 95%;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .jumbotron {
        visibility: hidden;
    }
}