body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}
.message{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.message-info{
    background-color: rgb(205,222,254);
    color: rgb(59,52,148);
    57	49	180
}
.message-success{
    background-color: rgb(207,243,219);
    color: rgb(35,123,76);

}
.message-warning{
    background-color: rgb(252,251,203);
    color: rgb(143,125,35)

}
.message-error{
    background-color: rgb(250,211,215);
    color: rgb(138,35,59)

}
