.fancy_header {
    color: gold;
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: papayawhip;
    text-decoration: underline;
}
h1 {
    padding: 10px
}
body {
    background-image: url(../img/wall.jpeg);
    background-size: 100%;
    background-attachment: fixed;
}
li {
    list-style:upper-roman;
    color: white;
}
* {
    font-family: "Comic Sans MS", serif;
    color:white;
}
table, td, th{
    border: 2px solid white;
    color:white;
}
a:visited {
    color: aqua;
}
a:hover {
    color:greenyellow;
}
a:active {
    color: coral;
}
img {
    height: 15em;
    width: 27em;

}
aside {
    float: right;
    position: relative;
}
main {
    position: absolute;
}
div {
    clear: right;
}
a {
    float: right;
}
#images {
    text-align: center;
}
#header {
    text-align: center;
}