.fancy_header {
    color: gold;
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: papayawhip;
    text-decoration: underline;
}
body {
    background-image: url(../picture/wall.jpeg);
    background-size: 100%;
}
li {
    list-style:upper-roman;
    color: white;
}
* {
    font-family: "Comic Sans MS", serif;
    color:white;
}
table, td, th{
    border: 2px solid white;
    color:white;
}
a:visited {
    color: aqua;
}
a:hover {
    color:greenyellow;
}
a:active {
    color: coral;
}