.cont{
    width: 95%;
    margin:10px auto;
}
.day{
    background: lightgrey;
    border: 1px solid black;
    text-align: center;
}
#map{
    height: 300px;
    width: 100%;
}
.map{
    width: 95%;
    margin: auto;
}
#update{
    margin-top:4%;
}
#area{
    padding-left: 0;
    text-align: center;
}